@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200&family=Roboto+Mono&family=Roboto:ital,wght@1,100&display=swap');


body {
    font-family: 'Roboto Mono', monospace;
    background-color: #8e44ad;
    color: #fff;
    display: flex;
    height: 100vh;
    
}