

body {
    display: flex;
    height:100vh;
    align-items: center;
    justify-content: center;
    margin: 0;
    overflow: hidden;
}

.bg {
    width: 100vw;
    height: 100vh;
    background-image: url('https://www.travelandleisure.com/thmb/Zz-cnRdT2hUowwxfZj1fH531Lac=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/south-padre-island-beach-texas_HERO_TXBEACH0123-74b9f2c258ad48009ef33ec93723d71f.jpg');
    background-position: center;
    background-repeat: none;
    background-size: cover;
    filter: blur(0px);
    position: absolute;
    z-index: -1;
}

loading-text{
    font-size: 50px
    color: #696969;
}